<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>authorizationToken</param-name>
    <param-value>12341234</param-value>
  </context-param>


  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>context.InitServlet</servlet-class>
    <init-param>
      <param-name>data</param-name>
      <param-value>Rusty 🦀</param-value>
      <description>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint
        consectetur cupidatat.</description>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/context/data</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>XMLServlet</servlet-name>
    <servlet-class>com.example.XMLServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/food</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/drink</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/hum/take/*</url-pattern>
  </servlet-mapping>
</web-app>
